# Ejemplos de como excluir e
n git

# excluir pdf
*.pdf

# excluir imagenes
*.jpg

# excluir una carpeta
public/uploads/

# excluir un archivo
public/uploads/imagen.jpg

# excluir un archivo con extension
public/uploads/*.jpg

# excluir archivos de configuracion
.env
.env.example
 
# excluir archivos de configuracion de phpstorm
.idea/
 
# excluir archivos de configuracion de netbeans
nbproject/
 
# excluir archivos de configuracion de sublime
*.sublime-project
*.sublime-workspace
 
# excluir archivos de configuracion de vscode
.vscode/
 
# excluir archivos de configuracion de mac
.DS_Store
 
# excluir archivos de configuracion de windows
Thumbs.db 